RPC_URL=https://rpc.testnet.xrplevm.org
PRIVATE_KEY=0xYOUR_DISPOSABLE_TESTNET_PRIVATE_KEY
CHAIN_ID=1449000
INITIAL_LIQUIDITY_ETH=1
NEXT_PUBLIC_CHAIN_ID=1449000
NEXT_PUBLIC_RPC_URL=https://rpc.testnet.xrplevm.org
NEXT_PUBLIC_CONTRACT_ADDRESS=0x0000000000000000000000000000000000000000
NEXT_PUBLIC_EXPLORER_URL=https://explorer.testnet.xrplevm.org
